@import "tailwindcss";

.mid-left {
    background-color: #e3f2fd;  /* 柔和的浅蓝色 */
}
.mid-right {
    background-color: #e8f5e9;  /* 柔和的浅绿色 */
}

.share-left {
    background-color: #e3f2fd;  /* 柔和的浅蓝色 */
}
.share-right {
    background-color: #e8f5e9;
}